#header{
    height: 80px;
    width: 1000px;
    border: 2px solid black;
    /* margin-left: 100px; */
    background-color: black;
    padding-left: 20px;
    color: white;


}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
#navigation{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
    padding-top: 20px;
}
a,li{
    display: inline;
    text-decoration: none;
    color: white;
    margin-left: 20px;

}

#main-content{
    /* margin-left: 100px; */
    text-align: center;
    width: 1020px;
    height: 250px;
    border: 2px solid black;
    padding-top: 100px;
    color: white;
    background-color: red;
    
}

#box-1{
    border: 2px solid transparent;
    height: 200px;
    width: 250px;
    text-align: center;
    padding-top: 30px;
    background-color: whitesmoke;
    margin: 30px 30px 30px 70px;
    
}

#box-2{
    border: 2px solid transparent;
    height: 200px;
    width: 250px;
    text-align: center;
    padding-top: 30px;
    background-color: whitesmoke;
    margin: 30px 30px 30px 30px;
}

#box-3{
    border: 2px solid transparent;
    height: 200px;
    width: 250px;
    text-align: center;
    padding-top: 30px;
    background-color: whitesmoke;
    margin: 30px 30px 30px 30px;
    
}

#boxes{
    display: flex;
    /* flex-wrap: nowrap; */
}

#about-section{
    width: 800px;
    background-color: whitesmoke;
    /* margin: 30px 0px 0px 110px; */
    text-align: center;
    height: 200px;
    padding: 100px;
}

#contact-section{
    width: 1000px;
    /* margin: 3px 0px 0px 110px; */
    text-align: center;
    height: 300px;
    /* border: 2px solid black; */
}

#explore-more{
    color: white;
    height: 30px;
    background-color: black;
}

#send-msg{
    color: blue;
    background-color: whitesmoke;
    height: 30px;
}

#inputs{
    width: 980px;
    height: 30px;
}

#inputs-2{
    width: 980px;
    height: 60px;
}